    <footer class="container">
      <div class="row">
        <div class="col md-4">
          <h1>Solar</h1>
        </div>
        <div class="col md-2">
          <h6>Company</h6>
            <li>About Us</li>
            <li>Privacy Policy</li>
            <li>Travel Guides</li>
        </div>
        <div class="col md-5">
          <h6>Payment</h6>
          <li>
            <i class="fa-brands fa-apple-pay"></i>
            <i class="fa-brands fa-google-pay"></i>
            <i class="fa-brands fa-amazon-pay"></i>
            <i class="fa-brands fa-cc-visa"></i>
          </li>
        </div>
        <div class="col md-5">
          <h6>Connect with us</h6>
          <li>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-pinterest"></i>
            <i class="fa-brands fa-tiktok"></i>
          </li>
        </div>
      </div>
      <div class="row">
        <p>© 2022 Solar. Made in Singapore.</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>

</html>
