<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link href="/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <title>Solar</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/img/planet-icon.svg" alt="" width="" height="24" class="d-inline-block align-text-top">
        Solar
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

          <% if (!authUser) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              English
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><img src="/img/login-icon.png" alt="" width="" height="20" class="d-inline-block align-text-top">
              Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register"><img src="/img/register-icon.png" alt="" width="" height="20" class="d-inline-block align-text-top">
              Register</a>
          </li>

          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="#"><img src="/img/heart-icon.png" alt="" width="" height="20" class="d-inline-block align-text-top">
                Wishlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart"><img src="/img/cart-icon.png" alt="" width="" height="18" class="d-inline-block align-text-top">
                Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/destinations"><img src="/img/register-icon.png" alt="" width="" height="20" class="d-inline-block align-text-top">
                Destinations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile"><img src="/img/register-icon.png" alt="" width="" height="20" class="d-inline-block align-text-top">
                Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>

            <% } %> 

        </ul>
      </div>
    </div>
  </nav>