<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link href="/main.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/9a6d16eeba.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <title>Solar</title>
</head>

<body>
  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark black">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/img/planet-icon.svg" alt="" width="" height="24" class="d-inline-block align-text-top">
        Solar
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

          <% if (!authUser) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              English
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><i class="fa-solid fa-unlock-keyhole"></i>Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register"><i class="fa-solid fa-user"></i>Register</a>
          </li>

          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/wishlist"><i class="fa-solid fa-heart"></i>Wishlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i>Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/destinations"><i class="fa-solid fa-rocket"></i></i>Destinations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile"><i class="fa-solid fa-user"></i>Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout"><i class="fa-solid fa-door-closed"></i>Logout</a>
            </li>

            <% } %> 

        </ul>
      </div>
    </div>
  </nav>