<%- include('partials/header'); -%>

  <div class="card text-bg-dark">
    <img src="/img/carina-nebula.jpeg" class="card-img" alt="nightsky">
    <div class="card-img-overlay">
      <h5 class="card-title">Hello</h5>
      <p class="card-text">Escape into outer space today</p>
      <form id="form" role="search"> 
        <input type="search" id="query" name="searchbar" placeholder="Search the galaxy...">
        <button>Search</button>
      </form>
    </div>
  </div>

  <div class="container">

    <div>
      Popular Destinations
    </div>
  
    <div>
      All Destinations
    </div>
  
    <div>
      Inspiration
    </div>
    
  </div>

  <%- include('partials/footer'); -%>
