<%- include('partials/header'); -%>

<div id="registerpage">

  <div id="register-form-wrapper">
    <form method="POST" action="/login" id="register-form">
      <h1>Log in</h1>
      <div class="form-outline mb-4">
        <div class="col-mb-6">
          <input type="email" class="form-control" id="login-email" name="loginemail" placeholder="Email" required>
        </div>
      </div>
      <div class="form-outline mb-4">
        <div class="col-mb-6">
          <input type="password" class="form-control" id="login-password" name="loginpassword" placeholder="Password" required>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Let's go</button>
      </div>
    </form>
  </div>

</div>

<%- include('partials/footer'); -%>