<%- include('partials/header'); -%>

  <h1>Register</h1>

  <p>Create an account</p>

  <form method="POST" action="/login">
    <input type="text" name="email" placeholder="Email address"/>
    <input type="password" name="password" placeholder="Enter password" />
    <input type="submit" value="Sign Up" />
  </form>

<%- include('partials/footer'); -%>