body {
  background-color: black;
  color: white;
}

#navbar .nav-item a {
  padding: 0 1em;
}

#navbar .nav-item a:hover {
  color: rgb(255,153,88);
}
  
#navbar .nav-item a.active {
  color: rgb(255,153,88);
}

#navbar .nav-item:last-of-type a {
  padding-right: 0.5em;
}

i {
  margin: 5px;
}

.navbar-brand {
  color: rgb(255,153,88);
  font-family: "Copperplate", Helvetica, sans-serif ;
  font-size: 1.5em;
  margin-left: 0.5em;
}

.d-inline-block {
  margin-right: 0.2em;
}
